*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#080312;
    color:#fff;
    overflow:hidden;
    font-family:'Press Start 2P',cursive;
}

/* Розовое свечение */

.bg-glow{
    position:fixed;
    inset:0;
    z-index:-2;
    background:
        radial-gradient(circle at 50% 35%, rgba(255,0,170,.35), transparent 40%),
        radial-gradient(circle at 20% 80%, rgba(120,0,255,.25), transparent 35%),
        radial-gradient(circle at 80% 15%, rgba(255,0,120,.20), transparent 30%);
}

/* Пиксельная сетка */

.bg-grid{
    position:fixed;
    inset:0;
    z-index:-1;

    background-image:
        linear-gradient(rgba(255,0,170,.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,0,170,.05) 1px, transparent 1px);

    background-size:32px 32px;
}

.hero{
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.penguin{
    width:190px;
    margin-bottom:40px;

    image-rendering:pixelated;

    animation:float 4s ease-in-out infinite;

    filter:drop-shadow(0 0 35px #ff3dc8);
}

h1{
    font-size:64px;

    color:#ff64da;

    text-shadow:
        4px 4px 0 #5d007d;

    margin-bottom:24px;
}

p{
    font-size:16px;

    color:#f3d7ff;

    line-height:2;

    margin-bottom:45px;
}

.btn{

    display:inline-block;

    text-decoration:none;

    color:white;

    border:4px solid #ff64da;

    background:#251032;

    padding:22px 42px;

    transition:.2s;
}

.btn:hover{

    background:#ff2cb9;

    box-shadow:0 0 30px #ff2cb9;

    transform:translateY(-3px);
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-14px);
    }

    100%{
        transform:translateY(0);
    }

}